<div class="container">
    {{!-- <div class="row middle">
        <div class="two columns inblock">&nbsp;</div>
            <div class="eight columns inblock">
                <a class="four columns icon">
                    {{icon-link iClass="fa fa-github fa-3x"}}
                </a>
                <a class="four columns icon">
                    {{icon-link iClass="fa fa-twitter fa-3x"}}
                </a>
                <a class="four columns icon">
                    {{icon-link iClass="fa fa-facebook-official fa-3x"}}
                </a>
            </div>
    </div> --}}
    <div class="row">

                    {{ink-splash src="assets/images/inkspl1.png"}}
                    {{ink-splash src="assets/images/inkspl2.jpg"}}
                    {{ink-splash src="assets/images/inkspl3.jpg"}}

    </div>
    <div class="row">
        <div class="two columns inblock">&nbsp;</div>
            <div class="eight columns inblock">
                <a class="four columns icon">
                    {{icon-link iClass="fa fa-stack-overflow fa-3x"}}
                </a>
                <a class="four columns icon">
                    {{icon-link iClass="fa fa-instagram fa-3x"}}
                </a>
                <a class="four columns icon">
                    {{icon-link iClass="fa fa-info-circle fa-3x"}}
                </a>
            </div>
    </div>
    <div class="row">
        
    </div>
    {{outlet}}
</div>
<div class="twelve columns">
    <h1 id="logo">carlostighe.com</h1>
</div>